<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X_UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NERGM">
    <meta name="author" content="EmilK">
</head>
    <title>NERGM tutorial</title>

    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <body>
        <div id="root"></div>
        <script type="text/javascript" src="../dist/build/bundle.js"></script>
    </body>
</html>