.login-btn, .register-btn {
    width: 300px;
    border-radius: 10px;
    background-color: $secondary-color;
}

.register-btn {
    margin-top: 10px;
}

.btn-details {
    margin-top: 10px;
}

.logout-link, .logout-link:visited, .logout-link:hover, .logout-link:active {
    text-decoration: none;
    color: black;
}