.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    border-radius: 5px;
    width: 600px;
    min-height: 80vh;
}

#input-email, #input-pw, #input-fName, #input-lName {
    width: 300px;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.logout-link {
    margin-bottom: 0px;
}