.register-modal .modal-content {
    background-color: $pent-color;
    align-items: center;
}

.register-modal-title {
    width: 100%;
    text-align: center;
}

.register-header {
    width: 100%;
}